<header>
  <img 
    src="assets/img/emilio.jpeg" 
		alt="Emílio José Camilo - Foto de Perfil"
		width="130px"
		height="130px"
		loading="eager" 
	/>
	<h2>Emílio Josê</h2>
</header>

<aside>
	<div class="container">

		<p>Front End | JavaScript | TypeScript | Angular</p>
		<p>Magé, Rio de Janeiro - Brasil</p>
		<p>Estou na área de desenvolvimento de software há 4 anos atuando no Frontend</p>

		<nav>
			<ul>
				<li>
					<a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
						Download Cv
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/emilio-jos%C3%A9-794955208/" target="_blank" class="btn btn-secondary">
						LinkedIn
					</a>
				</li>
			</ul>
		</nav>

		<section>
			<figure>
				<img 
					src="assets/icons/whatsapp.svg" 
					alt="Ícone para contato do Whatsapp"
					width="22px"
					height="24px" 
				/>
				<figcaption>
					<a 
						href="https://api.whatsapp.com/send?phone=5521975527320&text=Ol%C3%A1%20Emilio,%20preciso%20de%20um%20job!"
						target="_blank">
						<strong>Envie uma mensagem para:</strong>
						<p>Whatsapp: (11) 9 7552-7320</p>
					</a>
				</figcaption>
			</figure>

			<figure>
				<img 
					src="assets/icons/mail.svg" 
					alt="Ícone para contato do e-mail"
					width="22px"
					height="24px" 
				/>
				<figcaption>
					<a 
						href="mailto:camilojc1982@gmail.com"
						target="_blank">
						<strong>Envie uma e-email para:</strong>
						<p>Email: camilojc1982&#64;gmail.com</p>
					</a>
				</figcaption>
			</figure>
		</section>

	</div>
</aside>
